.advantages {
	padding-top: 80px;
	padding-bottom: 73px;
	&__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	}
	&-span {
		margin-bottom: 40px;
		position: relative;
		&__line {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			position: absolute;
			width: 974px;
			height: 1px;
			border: 15px solid #E5ECF4;
		}
		&__round {
			margin-left: 205px;
			display: inline-block;
			width: 96px;
			height: 96px;
			background-repeat: no-repeat;
			background-image: url();
			background-image: url('../img/span1.svg');
			background-color: #FCB72B;
			border-radius: 50%;
		}
	}
}