.feedback {
	background-color: #495567;
	//content: url('../img/footer-bg.svg');
	&__container {
		padding: 102px 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	&__heading {
		margin: 0;
		font-family: "Space Mono";
		font-weight: bold;
		font-size: 48px;
		line-height: 48px;
		color: #FFFFFF;
		}
	&-inner {
		&__svg {
		margin-left: 18px;
		}
	&-inner:nth-child(2) &__svg {
		padding: 15px 0px;
	}
	}
}

